# Exclude everything
*.jpg
/ai8x-memenet/
/Camera_MAXIM7800/
/models/
/Submission_example
/widerface/
*.pptx#
*.odp*
**/build*
**/Eike
*.jpg
*.npy
*.png
.vscode/


# Upload only specific files
!*.ipynb
!*.py
!*.yaml
!*.sh
!/training/
!/docs/*
# Include all files with arbitrary extension in this folder
!*/synthesis/**
utils.py
**/synthesis/widerfacene*
**/synthesis/widerface*net*
